<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<!-- <h:outputStylesheet library="css" name="hessen_examples.css" /> -->
	<h:form id="headerForm">
		<p:outputPanel id="bqHeaderPanel">
			<table style="width: 100%;">
				<tr>
					<td
						width="20%"
						style="text-align: left;">BV-Logo</td>
					<td
						width="40%"
						style="text-align: center;">BV Benutzerverwaltung</td>
					<td
						width="40%"
						style="text-align: right; vertical-align: bottom;"><h:outputText
							id="headeruserinfo"
							style="padding: 20px;"
							value="#{login.loggedInUserInfo}" /> <h:commandButton
							value="#{lbl['button.logout']}"
							action="#{logout.submit}" /></td>
				</tr>
			</table>
		</p:outputPanel>
	</h:form>
</ui:composition>