<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<h:outputStylesheet library="css"  name="style.css" />
	<title>Egladil Benutzerverwaltung</title>
</h:head>
<h:body>

    <div id="header">
		<ui:insert name="header" >
		  <ui:include src="default/bvHeader.xhtml" />
		</ui:insert>
	</div>

    <h1>Egladil Benutzerverwaltung</h1>
	<h:form id="mainForm">
		<div id="messages">
			<h:messages globalOnly="true"
						showSummary="false"
        				showDetail="true"
        				layout="table"
						errorClass="errorMessages"
						infoClass="infoMessages"/>
		</div>
		<div id="content">
			<ui:insert name="content" />
		</div>
	</h:form>
</h:body>
</html>
