<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:body>
	<ui:composition template="../template/layout.xhtml">
		<ui:define name="content">
			<h2>#{lbl['page.subheader']}</h2>

			<h:commandButton id="btnCancel" value="#{lbl['button.cancel']}"
				immediate="true" />
			<h:form>
				<h:commandButton value="#{lbl['button.logout']}" action="#{logout.submit}" />
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>
</html>
