/* Karteikarten-Reiter */
ul.karteikarten {
   padding: 3px 0;
   margin: 20px 20px 0px 20px;
   border-bottom: 1px solid #D7E0F7;
  font-size:80%;
}
ul.karteikarten li {
   list-style: none;
   margin: 0;
   margin-left: -3px;
   display: inline;
}

ul.karteikarten li a {
   padding: 3px 5px;
   margin-left: 3px;
   border: 1px solid #D7E0F7;
   background: #EFF3FF;
   text-decoration: none;
   color: #054295;
}


ul.karteikarten li a:link { color: #054295; }
ul.karteikarten li a:visited { color: #054295; }
ul.karteikarten li a:hover { color: #D62020; }
ul.karteikarten li a:active { color: #054295; }
ul.karteikarten li a:focus { color: #054295; }

ul.karteikarten li a.current {
   background: #FFFFFF;
   color: #D62020;
font-weight:bold;
   border-bottom: 1px solid #FFFFFF;
}
ul.karteikarten li a.current:link { color: #D62020; }
ul.karteikarten li a.current:visited { color: #D62020; }
ul.karteikarten li a.current:hover { color: #D62020; }
ul.karteikarten li a.current:active { color: #D62020; }
ul.karteikarten li a.current:focus { color: #D62020; }

div.karteiinhalt {
   margin: -1px 20px;
   padding: 5px;
   border-left: 1px solid #D7E0F7;
   border-bottom: 1px solid #D7E0F7;
   border-right: 1px solid #D7E0F7;
  font-size:80%;
}

/* Fieldset */

.fieldset_legend {
   height:25px;
}

/* Einfache Formulare */
.abstand {
   height:25px;
}

div.formelement {
   font-family: Arial;
  font-size:80%;
   padding-bottom: 5px;
}

.formelement {
   font-family: Arial;
  font-size:80%;
   padding-bottom: 5px;
   vertical-align:top;
}

div.formelementbox {
   font-family: Arial;
  font-size:80%;
   padding-bottom: 5px;
   padding-left: 20px;
}
.right {
   padding-left: 150px;
}
div.formelementgroup {
   font-family: Arial;
  font-size:80%;
   padding-top: 15px;
}
form.searchform {
   padding: 20px;
}
form.searchform fieldset {
	background-color: #F6F6FF;
	border: 1px solid #054295;
	padding-bottom: 10px;
}
form.searchform fieldset legend {
  font-weight: bold;
  color: #054295;
 font-size:80%;
  padding-bottom: 10px;
}
div.error {
  font-size:80%;
   margin: 0px;
   padding-left: 155px;
   color: #D21B27;
}

div.error img {
   border: 0px;
}

input.formerror {
   border: 2px solid #D21B27;
}

div.formtext {
   padding-left: 155px;
   padding-top: 2px;
}
label.label {
  float: left;
  text-align: right;
  width: 150px;
  padding-right: 5px;
  padding-top: 2px;
  font-weight: normal;
}

label.label_fett {
  float: left;
  text-align: right;
  width: 150px;
  padding-right: 5px;
  padding-top: 2px;
  font-weight: bold;
}

label.labelbreit {
  float: left;
  text-align: right;
  width: 41%;
  padding-right: 5px;
  padding-top: 2px;
  font-weight: normal;
}
label.labelright {
  padding-right: 20px;
  padding-top: 2px;
  font-weight: normal;
  vertical-align:bottom;
}

label.labelleft {
  float: left;
  text-align: right;
  width: 100px;
  padding-right: 5px;
  padding-top: 2px;
  font-weight: normal;
  vertical-align:bottom;
}
label.labeltop {
  float: left;
  font-weight: normal;
}
.searchfield {
   border: 1px solid #9EB6D6;
   width: 126px;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.searchfielderror {
   border: 2px solid #D21B27;
   width: 126px;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.datefield {
   border: 1px solid #9EB6D6;
   width: 40px;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.monthfield {
   border: 1px solid #9EB6D6;
   width: 40px;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.yearfield {
   border: 1px solid #9EB6D6;
   width: 55px;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.smallfield {
   border: 1px solid #9EB6D6;
   width: 3.5em;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.smallfielderror {
   border: 2px solid #D21B27;
   width: 3.5em;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.mediumfield {
   border: 1px solid #9EB6D6;
   width: 16.0em;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.mediumfielderror {
   border: 2px solid #D21B27;
   width: 16.0em;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.largefield {
   border: 1px solid #9EB6D6;
   width: 31.5em;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.largefielderror {
   border: 2px solid #D21B27;
   width: 31.5em;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.messagefield {
   border: 1px solid #9EB6D6;
   width: 20.5em;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.messagefielderror {
   border: 2px solid #D21B27;
   width: 20.5em;  
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}
.searchsubmit {
   font-family: Arial;
   color: #054295;
   font-weight: bold;
   background: #F6F6FF;
   border: 1px solid black;
   border-left: 0;
   border-top: 0;
   font-size: 100%;
}
.submitbutton {
   font-family: Arial;
   color: #054295;
   font-size: 100%;
   background: url(../resources/img/redsquare.gif)  no-repeat left;
   text-align:left;
   cursor: pointer;
   padding-left: 19px;
   border : 1px solid #d6deed;
}

html>body .submitbutton {
   padding-left: 15px;
}
.disabledbutton {
   font-family: Arial;
   color: #999999;
   font-size: 100%;
   background: url(../resources/img/greysquare.gif)  no-repeat left;
   text-align:left;
   cursor: pointer;
   padding-left: 19px;
   border : 1px solid #d6deed;
}

html>body .disabledbutton {
   padding-left: 15px;
}

.multisearch {
   clear: left;
   border: 1px solid #9EB6D6;
   width: 126px;
   font-family: Arial;
   padding-left: 3px;
   font-size: 100%;
}


/* Mehrspaltige Formulare */
table.formulartabelle {
   width: 100%;
   padding: 0px;
}
table.formulartabelle caption {
   text-align: left;
   font-weight: bold;
   padding: 5px;
  font-size:80%;
   border-top: 1px solid #FFFFFF;
   border-bottom: 1px solid #FFFFFF;
}
table.formulartabelle td.caption {
   text-align: left;
   font-weight: bold;
   padding: 5px;
  font-size:80%;
   border-bottom: 1px solid #FFFFFF;
}
table.formulartabelle td.label {
   vertical-align: top;
   width: 25%;
   border-bottom: 1px solid #FFFFFF;
   padding: 5px;
  font-size:80%;
}
table.formulartabelle td.labelbreit {
   vertical-align: top;
   width: 41%;
   border-bottom: 1px solid #FFFFFF;
   padding: 5px;
  font-size:80%;
}
table.formulartabelle td.eingabe {
   vertical-align: top;
   padding: 5px;
   border-bottom: 1px solid #FFFFFF;
}
table.formulartabelle legend.caption {
   text-align: left;
   font-weight: bold;
   padding: 5px;
  font-size:80%;
   border-bottom: 1px solid #FFFFFF;
}



/* Listen */
div.liste {
  font-size:80%;
}
ul.unsortiert {
   list-style-type: square;
   font-size: 100%;
}

/* Ergebnislisten */
div.searchresult {
   font-family: Arial;
   font-size: 100%;
   margin: 0px 20px;
}
div.searchresult p {
   margin: 0px;
   padding: 0px;
}
table.searchresult {
	background: #ADCAE5;
   border:1px solid white;
   font-family: Arial;
   margin: 0px 20px;
   width: 90%;
  font-size:80%;
}
table.searchresult caption.searchcaption {
	text-align: left;
   background-color: #004194;
   color: #FFFFFF;
   border-top: 1px solid #ADCAE5;
   border-left: 1px solid #ADCAE5;
   border-right: 1px solid #ADCAE5;
   font-weight: bold;
   font-size: 100%;
   margin: 0px 20px;
   width: 90%;
}
table.searchresult caption {
   margin: 0px 20px;
   width: 90%;
   text-align: left;
   font-weight: bold;
   padding: 3px 0px 0px 0px;
   background: #ADCAE5;
   border: 1px solid #ADCAE5;
}
table.searchresult td.datenzelle {
	background: #FFFFFF;
   vertical-align: top;
	padding: 3px;
}
table.searchresult td.datenlabel {
	background: #FFFFFF;
   vertical-align: top;
	padding: 3px;
}
table.searchresult th.headerzelle {
	background: #EBF1FD;
   font-weight: bold;
	padding: 3px;
}
table.searchresult img {
	border: 0;
}
div.tablediv {
   margin-left: 20px;
}
/* Hyperlinks */
.deflink { color: #054295; font-family: Arial; font-size: 100%; text-decoration: underline; }
.deflink:link { color: #054295; }
.deflink:visited { color: #054295; }
.deflink:hover { color: #D62020; }
.deflink:active { color: #D62020; }
.deflink:focus { color: #D62020; }

.normal { color: #054295; font-family: Arial; font-size: 100%; text-decoration: none; }
.normal:link { color: #054295; }
.normal:visited { color: #054295; }
.normal:hover { color: #D62020; }
.normal:active { color: #D62020; }
.normal:focus { color: #D62020; }

table.applicationtable { font-family: Arial;font-size:80%; background: #ADCAE5; }
table.applicationtable caption { text-align: left; background: #D3DDF3; color: #004194; border-top: 1px solid #ADCAE5; border-left: 1px solid #ADCAE5; border-right: 1px solid #ADCAE5; font-weight: bold; font-size: 100%; }
table.applicationtable th { background: #EBF1FD; font-weight: bold; text-align:left; vertical-align: top; }
table.applicationtable th.datenkopf_zahl {text-align: right; }
table.applicationtable td.datenzelle { background: #FFFFFF; vertical-align: top; }
table.applicationtable td.datenzelle_zahl { background: #FFFFFF; vertical-align: top; text-align: right; }


/* Roadmap Tabellen */
.roadmap {
   font-family: Arial;
   margin: 0px;

	font-family: Arial;
}
.roadmapstart {
   width: 27px;
   padding: 0px;
   margin: 0px;
  font-size:80%;
   font-family: Arial;
}
.roadmapstep {
	background: #FFFFFF;
	border: 1px solid #D6DFF7;
	padding: 3px 10px;
	text-align: center;
	color: #054295;
	margin: 0px;
	font-size: 70%;
	font-family: Arial;
}
.roadmapstepnixda {
	background: #E4E4E4;
	border: 1px solid #747474;
	padding: 3px 10px;
	text-align: center;
	color: #999999;
	margin: 0px;
		font-size: 70%;
		font-family: Arial;
}
.roadmapstepactive {
	background: #FFFFFF;
	border: 1px solid #D6DFF7;
	padding: 3px 10px;
	text-align: center;
	color: #DF2E2F;
	font-weight: bold;
	margin: 0px;
	font-size: 70%;
	font-family: Arial;
}
table.roadmap td img {
	border: 0;
}

.tab_menu_aktiv
{
  background: #FFFEFF;
	border-top: 1px solid #DCE0EC;
	border-left: 1px solid #DCE0EC;
	border-right: 1px solid #DCE0EC;
	border-bottom: 1px solid #FFFFFF;
	padding: 3px 10px;
	text-align: center;
	color: #DF2E2F;
	font-weight: bold;
	margin: 0px;
	font-size: 70%;
font-family: Arial;
z-index:3;

}

.tab_menu_inaktiv
{
  background: #F6F6FE;
	border-top: 1px solid #DCE0EC;
	border-left: 1px solid #DCE0EC;
	border-right: 1px solid #DCE0EC;
	border-bottom: 1px solid #FFFFFF;
	padding: 3px 10px;
	text-align: center;
	color: #273B5E;
	font-weight: bold;
	margin: 0px;
	font-size: 70%;
font-family: Arial;

}

.pos_tab
{
  	margin-left: 10px;
  	margin-right: 10px;



}

.tab_menu
{
  background: #F6F6FE;
	border: 1px solid #DCE0EC;
	margin-left: 10px;
	margin-right: 10px;
	font-family: Arial;
z-index:2;

}
/*Meldungen*/

div.hint {
  font-size:80%;
   margin: 0px;
   padding-left: 20px;;
}

div.hinttext {
   margin: 0px;
   padding-left: 20px;;
}


.topnavlink {
	TEXT-DECORATION: none
}
.topnavlink:link {
	color: #ffffff !important;
	
}
.topnavlink:visited {
	COLOR: #ffffff
}
.topnavlink:hover {
	COLOR: #eed62b !important;
}
.topnavlink:active {
	COLOR: #eed62b
}
.topnavlink:focus {
	COLOR: #eed62b
}
.topnavlinkactive {
	FONT-FAMILY: Arial; COLOR: #ffffff; FONT-SIZE: 75%; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.topnavlinkactive:link {
	COLOR: #ffffff
}
.topnavlinkactive:visited {
	COLOR: #ffffff
}
.topnavlinkactive:hover {
	COLOR: #eed62b
}
.topnavlinkactive:active {
	COLOR: #eed62b
}
.topnavlinkactive:focus {
	COLOR: #eed62b
}
.topnavlinkbox {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 16px; PADDING-RIGHT: 17px; FLOAT: left; BORDER-RIGHT: #ffffff 1px solid
}