body {
   margin: 0px;
   padding: 0px;
   font-family: Arial;
}
*.bik {
font: bold 1.1em arial,helvetica,verdana,sans-serif;
color: #800000;
}
#hessen {
   width: 100%;
}
#hessen-header {
   height: 83px;
	background: #FFFFFF url(../resources/img/banner_zentral_IP.jpg) left top no-repeat;
}

#hessen-mainnav {
   width: 100%;
   height: 22px;
   background-color: #054295;
}
#hessen-structure {
   width: 100%;
   padding: 0;
   margin-left: -1px;
}
#hessen-structure td.nav {
   width: 217px;
   vertical-align: top;
}
div.hessen-subnav {
   margin-top: 15px;
   float: right;
   width: 165px;
}
div.hessen-subnav h1 {
   background-color: #FFFFFF;
   font-size:80%;
   color: #D7212A;
   font-weight: bold;
   padding: 3px 0px 3px 40px;
   margin-left: 2px;
}
div.hessen-subnav ul {
   margin: 0px 0px 0px 0px;
   padding:0;
   background-color: #F6F6FF;
   line-height: 120%;
}
div.hessen-subnav li {
   list-style-type: none;
   background: transparent url(../resources/img/arrow_nav.gif) left 10px no-repeat;
   padding-left: 12px;
   padding-top: 7px;
   padding-bottom: 7px;
   border-bottom: 1px solid #FFFFFF;
}
div.hessen-subnav .ui-tree {
	border: none;
	width: auto;
}
div.hessen-subnav .ui-tree .ui-tree-container {
	margin: 0;
	padding: 0;
}
div.hessen-subnav .ui-tree .ui-treenode {
	margin: 0;
	padding: 0;
}
div.hessen-subnav .ui-tree .ui-treenode ui.treenode-children>li{
	border-bottom: 1px solid #ffffff;
	margin: 0;
	padding: 0;
}
div.hessen-subnav .ui-tree .ui-treenode .ui-tree-toggler {
	color: red;
	/*margin-left: -5px;*/
}
div.hessen-subnav .ui-treenode-parent .ui-tree-toggler, div.hessen-subnav .ui-treenode-leaf .ui-treenode-leaf-icon {
	background: transparent url("../resources/img/HEP Icons/Navigation/arrow_nav.gif") no-repeat scroll left 10px;
	height: 18px;
	width: 12px;
}
div.hessen-subnav .ui-treenode-parent .ui-tree-toggler.ui-icon-triangle-1-s {
	background: transparent url("../resources/img/HEP Icons/Navigation/arrow_nav_active.gif") no-repeat scroll left 10px;
}
div.hessen-subnav .ui-tree .ui-treenode .ui-treenode-label {
	color: #054295;
	margin: 0;
	padding: 7px 0;
	text-shadow: none;
}
div.hessen-subnav .ui-tree .ui-treenode .ui-treenode-label.ui-state-hover {
	box-shadow: none;
	background: none;
	color: #D62020;
}
div.hessen-subnav .ui-tree .ui-treenode .ui-treenode-label.ui-state-highlight {
	background: none;
	font-weight: bold;
}

#hessen-content-spaned {
   float: left;
   width: 789px;
}
#hessen-content-main {
   margin-top: 6px;
   float: left;
   width: 554px;
}

#breadcrumb {
   margin: 15px 20px;
  font-size:80%;
   color: #747474;
}
#hessen-content-box {
   border: 1px solid #EFEFEF;
   width: 750px;
   margin-left: 20px;
}
#hessen-content-main-box {
   border: 1px solid #EFEFEF;
   width: 515px;
   margin-left: 20px;
}

div.content-intro {
   margin: 20px;
}
div.content-intro p {
   color: #000000;
   font-family: Arial;
  font-size:80%;
}
div.content-intro h2 {
   color: #000000;
   font-family: Arial;
  font-size:80%;
}

div.content-sourceexample {
   margin: 20px;
   border: 5px solid #D7212A;
   background-color: #F6F6FF;
}
div.content-sourceexample p {
   color: #000000;
   font-family: Arial;
  font-size:80%;
   padding: 10px;
}
div.content-cssexample {
   margin: 20px;
   border: 5px solid #054295;
   background-color: #F6F6FF;
}
div.content-cssexample p {
   color: #000000;
   font-family: Arial;
  font-size:80%;
   padding: 10px;
}
div.content-example {
   margin: 30px 20px 30px 0px;
}
div.content-example p {
   color: #000000;
   font-family: Arial;
  font-size:80%;
   padding: 10px;
}
h1.content-header {
   color: #054295;
   font-family: Arial;
  font-size:80%;
   font-weight: bold;
   margin-bottom: 1px;
   margin-left: 20px;
}

h2.item-header-box {
   background-color: #EFF3FF;
   border: 0px solid #054295;
   font-weight: bold;
   color: #054295;
   font-family: Arial;
  font-size:80%;
   padding: 2px 10px 2px 5px;
   margin: 20px 20px -20px 20px;
}
html>body h2.item-header-box {
   margin-bottom: 0px;
}
.item-header {
   color: #054295;
   font-family: Arial;
  font-size:80%;
   font-weight: bold;
   margin: 10px 0px -20px 20px;
}
ol {
  font-size:80%;
}
table.datentabelle {
   width: 100%;
   padding: 0px;
   font-size: 100%;
   border:1px solid #ADCAE5;
}
table.datentabelle caption {
   text-align: left;
   font-weight: bold;
   padding: 5px;
  font-size:80%;
   background: #EFF3FF;
   border-top: 1px solid #ADCAE5;
   border-bottom: 1px solid #ADCAE5;
}
table.datentabelle th {
   vertical-align: top;
   width: 33%;
   border-right: 1px solid #ADCAE5;
   border-bottom: 1px solid #ADCAE5;
   padding: 5px;
   background: #F7FBFF;
  font-size:80%;
}
table.datentabelle td {
   vertical-align: top;
   width: 33%;
   padding: 5px;
  font-size:80%;
   border-top: 1px solid #ADCAE5;
}
td.center {
   text-align: center;
}
td.content {
   width: 554px;
   vertical-align: top;
}
td.info {
   width: 217px;
   vertical-align: top;
}
#hessen-info {
   margin-top: 0px;
   float: left;
   width: 217px;
}

h1.info-header {
   background: transparent url(../resources/img/icon_redbox.gif) left 2px no-repeat;
   color: #054295;
   font-family: Arial;
  font-size:80%;
   font-weight: bold;
   margin-bottom: 2px;
   margin-left: 0px;
   padding-left: 19px;
   padding-top: 5px;
}

html>body h1.info-header {
   padding-left: 19px;
}
#hessen-info-box {
   border: 1px solid #EFEFEF;
   width: 217px;
   margin-left: 0px;
   padding-left: 0px;
}
div.info-text {
   margin: 15px;
}
div.info-text p {
   color: #000000;
   font-family: Arial;
  font-size:80%;
}

table.applicationtable {
   font-family: Arial;
  font-size:80%;
   background: #ADCAE5;
}

table.applicationtable caption {
   text-align: left;
   background: #D3DDF3;
   color: #004194;
   border-top: 1px solid #ADCAE5;
   border-left: 1px solid #ADCAE5;
   border-right: 1px solid #ADCAE5;
   font-weight: bold;
   padding: 5px;
}

table.applicationtable th.datenkopf {
   background: #EBF1FD;
   font-weight: bold;
   text-align:left;
   vertical-align: top;
}

table.applicationtable th.datenkopf_zahl {
   background: #EBF1FD;
   font-weight: bold;
   text-align: right;
   vertical-align: top;
}

table.applicationtable td.datenzelle {
   background: #FFFFFF;
   vertical-align: top;
}

table.applicationtable td.datenzelle_zahl {
   background: #FFFFFF;
   vertical-align: top;
   text-align: right;
}

div.ui-datatable.wrap td{
	white-space: normal;
}

/** HYPERLINK CLASSES */
.navlink { color: #054295; font-family: Arial; font-size: 100%; text-decoration: none; }
.navlink:link { color: #054295; }
.navlink:visited { color: #054295; }
.navlink:hover { color: #D62020; }
.navlink:active { color: #D62020; }
.navlink:focus { color: #D62020; }
.navlinkactive { color: #D62020; font-family: Arial; font-size: 100%; text-decoration: none; }
.navlinkactive:link { color: #D62020; }
.navlinkactive:visited { color: #D62020; }
.navlinkactive:hover { color: #D62020; }
.navlinkactive:active { color: #D62020; }
.navlinkactive:focus { color: #D62020; }

/** SPAN CLASSES */
.headnavdivider { color: #054295; font-family: Arial; font-size: 80%; padding-left: 8px; padding-right: 8px; }