.ui-layout-container .ui-layout-pane {
	border: none;
}

.ui-layout-unit .ui-layout-unit-content {
	padding: 0 !important;
}

.noBorders tr, .noBorders td {
	background: none !important;
	border: none !important;
}

.ajaxIndicator.ui-dialog .ui-dialog-content {
	background: url("#{resource['img:indicator.gif']}") no-repeat 0.5em
		center;
	background-color: none;
	font-weight: bold;
	padding: 0.5em 0.8em;
	padding-left: 2.5em;
}

#ajaxIndicatorDlg_modal.ui-widget-overlay {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.ui-dialog.inputDialog {
	max-height: 95%;
	overflow-x: hidden;
	overflow-y: auto;
}

.ui-dialog.inputDialog .ui-dialog-content {
	overflow: hidden;
}
/*
    height: auto!important;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-dialog.inputDialog .ui-dialog-content {
	height: auto!important;
	overflow:hidden;
}
*/
.ui-autocomplete {
	/** für Chrome, da sonst der Button in die nächste Zeile rutscht*/
	white-space: nowrap;
}

.ui-autocomplete-panel {
	width: auto !important;
}

.ui-autocomplete-panel .ui-autocomplete-table tr {
	border: none;
}

.ui-autocomplete-panel .ui-autocomplete-table tr td {
	border: none;
}

.ui-autocomplete-multiple-container.ui-state-disabled .ui-autocomplete-token-icon
	{
	display: none;
}

.ui-picklist.ui-picklist-responsive .ui-picklist-buttons {
	width: 40px !important;
}

.largeOverlayPanel {
	left: 20px !important
}

/**
* Historie Tabs
*/
.historie_tab {
	width: 100%;
	box-sizing: border-box;
}

.historie_tab.ui-tabs .ui-tabs-nav {
	background: none;
	border-bottom: 1px solid #A8A8A8;
}

.historie_tab.ui-tabs.ui-tabs-top>.ui-tabs-nav li {
	border-bottom: 1px solid #A8A8A8;
	margin-bottom: 0;
}

.historie_tab.ui-tabs.ui-tabs-top>.ui-tabs-nav li.ui-tabs-selected {
	border-bottom: 1px solid white;
}

/**
	Navigation
*/
.topMenu .ui-tree {
	padding: 0;
	background: #054295 repeat 0 0;
	width: auto;
}

.topMenu .ui-tree .ui-tree-container {
	display: block;
	padding: 0;
}

.topMenu .ui-tree .ui-tree-container .ui-treenode-leaf {
	color: white;
	display: inline-block;
	text-align: center;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 15%;
}

.topMenu .ui-tree .ui-tree-container .ui-treenode-leaf:first-child {
	text-align: left;
}

.topMenu .ui-tree .ui-tree-container .ui-treenode-leaf:last-child {
	text-align: right;
}

.topMenu .ui-tree .ui-tree-container .ui-treenode-leaf:first-child  .ui-treenode-label
	{
	font-weight: bold;
	padding-left: 2em;
}

.topMenu .ui-tree .ui-tree-container .ui-treenode-leaf .ui-treenode-leaf-icon
	{
	display: none;
}

.topMenu .ui-tree .ui-tree-container .ui-treenode-leaf+.ui-treenode-leaf
	{
	border-left: 2px solid white;
}

.topMenu .ui-tree .ui-tree-container .ui-treenode.ui-treenode-leaf.ui-treenode-selected
	{
	background-color: #d62029;
}

.topMenu .ui-tree .ui-tree-container .ui-treenode.ui-treenode-leaf.ui-treenode-selected .ui-treenode-label
	{
	background: none;
	font-weight: bold;
	text-shadow: none;
}

.topMenu .ui-tree .ui-tree-container .ui-treenode-label.ui-state-hover {
	background: none;
	box-shadow: none;
	color: #eed62b;
}

.statusAktiv, .statusInaktiv {
	display: inline;
	font-weight: bold;
	vertical-align: top;
}

.statusAktiv {
	color: green;
}

.statusInaktiv {
	color: #d62029;
}
.headerEnabled {
	color: #4f4f4f;
}

.headerDisabled {
	color: silver;
}

div.ui-datatable table {
	table-layout: auto;
}

div.ui-datatable .ui-datatable-header {
	height: 30px;
	line-height: 30px;
}

form .standartInputField {
	font-family: Arial !important;
	padding-left: 3px !important;
	font-size: 100% !important;
}

form .standartInputFieldWidth {
	width: 100% !important;
}

.vornameInputField {
	width: 97% !important;
}

.dateTimeField input {
	border: 1px solid #9EB6D6 !important;
	font-family: Arial !important;
	padding-left: 3px !important;
	font-size: 100% !important;
	width: 8em;
}

.dateField input {
	border: 1px solid #9EB6D6 !important;
	font-family: Arial !important;
	padding-left: 3px !important;
	font-size: 100% !important;
	width: 6em;
}

.hzdDateField {
	border: 1px solid #9EB6D6 !important;
	font-family: Arial !important;
	padding-left: 3px !important;
	font-size: 100% !important;
	width: 6em !important;
}

.flexAutoComplete {
	display: flex;
	width: 100%;
}

.flexAutoComplete .ui-autocomplete-multiple {
	display: flex;
}

.flexAutoComplete .ui-autocomplete-multiple, .flexAutoComplete .ui-autocomplete-multiple-container
	{
	width: 100%;
}

.flexAutoComplete .ui-autocomplete-multiple .ui-autocomplete-dropdown {
	height: 2em;
	position: relative;
}

.flexAutoComplete button {
	display: block;
	height: 2em;
	margin-right: 1em;
}

.detailInfo .ui-overlaypanel-content>label {
	float: left;
	font-weight: bold;
	width: 5em;
}

.detailInfo .ui-overlaypanel-content>div {
	float: left;
}

.hzd_checkbox_left {
	border: 0px solid #9EB6D6 !important;
	float: left;
}

.hzd_dataTable_left {
	border: 0px solid #9EB6D6 !important;
	float: left;
}

.fieldset-auto-width {
	display: inline-block;
	vertical-align: top;
}

.hzd_dataTable_right {
	border: 0px solid red !important;
	float: left;
}

.fitOnOnePage {
	min-width: 950px;
}

/*
	Workaround, damit Firefox und Chrome die bei Tabellen die in einem Fieldset sind genau so groß wie die Seite rendert und ggf. Scrollbalken anzeigt.
	(siehe https://bugzilla.mozilla.org/show_bug.cgi?id=504622#c22 [Bug 504622 - Fieldsets never shrink below their min-intrinsic width])
*/
.fitOnOnePage>.ui-fieldset-content {
	display: table; table-layout: fixed; width: 100%;
}

 .kompaktTabelle {
	min-width: 950px;
}

.kompaktTabelle .ui-datatable-header {
	border: none;
	height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	text-shadow: none;
}

.kompaktTabelle.ui-datatable.ui-datatable-resizable {
	overflow: visible;
}

/*TODO .ui-paginator-current left
.kompaktTabelle.ui-datatable .ui-paginator .ui-paginator-current {
	left: 2em;
	position: absolute;
}*/
.kompaktTabelle.ui-datatable .ui-paginator .ui-paginator-pages {
	padding-top: 0;
	padding-bottom: 0;
}

.kompaktTabelle.ui-datatable .ui-column-filter {
	width: 90%
}

.kompaktTabelle.ui-datatable .ui-selectonemenu {
	display: block;
}

.kompaktTabelle.ui-datatable select.ui-column-filter {
	height: 2em;
	width: 10em;
}

.kompaktTabelle.ui-datatable select.ui-column-filter {
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 2px 2px #8f8f8f inset;
	font-weight: normal;
}

.kompaktTabelle.ui-datatable th {
	vertical-align: bottom;
	white-space: nowrap;
}

.kompaktTabelle.ui-datatable th.noFilter {
	vertical-align: middle;
}

.kompaktTabelle.ui-datatable th>span {
	/** Sieht nicht gut im IE und Chrome */
	/**white-space: pre-wrap;*/

}

.kompaktTabelle.ui-datatable.nowrap th>span {
	white-space: nowrap;
}

.qtip.tooltip {
	max-width: 300px;
}

.qtip.tooltip .qtip-content {
	font-size: 0.85em;
	padding: 0.3em 0.6em;
}

.tooltipContent {
	display: none;
}

.hzd_newline {
	display: block;
	style: margin-top: 0.4em;
	margin-bottom: 0.4em;
	border: 0px solid red !important;
}

.columnNowrap {
	white-space: nowrap;
}

.fieldsetVeranstalterdaten {
	display: inline-block;
}

.ui-button.ui-button-text-only .ui-button-text {
	padding: 0.3em 0.5em;
}

.submitbutton {
	background: url(../resources/img/redsquare.gif) no-repeat left
		!important;
	border: 1px solid #d6deed !important;
	box-shadow: none;
	color: #054295 !important;
	cursor: pointer !important;
	font-size: 100% !important;
	font-family: Arial !important;
	text-align: left !important;
	text-shadow: none !important;
	white-space: nowrap;
}

.submitbutton.ui-button.ui-state-disabled {
	background: url(../resources/img/greysquare.gif) no-repeat left
		!important;
	color: grey !important;
}

.submitbutton.no-icon, .submitbutton.no-icon.ui-button.ui-state-disabled
	{
	background-image: none !important;
	padding: 0;
}

tr.ui-state-highlight .submitbutton.ui-button.ui-state-disabled {
	color: white !important;
}

#oasisPageForm\:veranstalterAktivierenButton.ui-state-active {
	background-color: green;
	color: #000;
}

#oasisPageForm\:veranstalterAktivierenButton {
	background-color: red;
	background-image: none;
	box-shadow: none;
	color: #fff;
	text-shadow: none;
}

.ui-top, .ui-top .ui-layout, .ui-top .ui-layout-bd, .ui-top .ui-layout-unit
	{
	background-image: none;
	background-color: #87B6D9;
}

form.searchform {
	margin: 20px;
	background-color: #EFF3FF;
}

form.searchform fieldset {
	background-color: #F6F6FF;
	border: 1px solid #054295;
	padding-bottom: 10px;
}

form.searchform fieldset legend {
	font-weight: bold;
	color: #054295;
	font-size: 75%;
	padding-bottom: 10px;
}

label.labelright {
	padding-right: 20px;
	padding-top: 2px;
	font-weight: normal;
}

.searchfield {
	border: 1px solid #9EB6D6;
	font-family: Arial;
	padding-left: 3px;
	font-size: 100%;
}

body {
	font-family: Arial !important;
	font-size: 82% !important;
}

.ui-panel .ui-panel-titlebar {
	padding: 0;
	background-color: white;
}

.ui-fieldset .ui-fieldset-legend {
	padding: 5px;
	border: none;
	background: #FFFFFF !important;
}

.ui-datepicker-trigger {
	font-family: Arial !important;
	color: #054295 !important;
	font-size: 100% !important;
	background: url(../resources/img/calendar_icon.gif) no-repeat center
		!important;
	text-align: left !important;
	cursor: pointer !important;
	padding-left: 19px !important;
	border: 1px solid #d6deed !important;
	width: 27px;
	height: 27px;
	margin-left: 2px;
	vertical-align: middle;
	margin-bottom: 1px;
}

.ui-icon-calendar {
	background-image: url(../resources/img/calendar_icon.gif) !important;
}

.errorMessageField {
	font-style: italic;
	color: #1d3c6a;
}

.sticky_messages {
	position: relative;
	width: 100%;
	z-index: 1000;
}

.sticky_messages>div {
	margin: 0;
}

.ui-message-error-icon {
	background-image: url(../resources/img/icon_valerror.gif) !important;
	float: left;
}

.ui-message-icon-only {
	background-color: transparent;
	background: url(../resources/img/icon_valerror.gif) no-repeat center
		!important;
	border: none;
	float: left;
	padding: 0;
}

.disabledErrorClass {
	background-color: #e3e3e3 !important;
}

.hessen-mainnav {
	background-color: #054295;
	height: 22px;
	width: 100%;
}

.hessen-mainnav a {
	color: white;
	text-decoration: none;
}

#textAreaSpan img.keypad-trigger {
	margin: -7px;
	margin-bottom: 2px;
	vertical-align: sub;
}

#textAreaSpanChanged img.keypad-trigger {
	margin: -7px;
	margin-bottom: 2px;
	vertical-align: sub;
}

.keypad-close {
	width: 99px !important;
	height: 32px !important;
	font-family: Arial !important;
	color: #054295 !important;
	font-size: 100% !important;
	background: url(../resources/img/redsquare.gif) no-repeat left
		!important;
	text-align: left !important;
	cursor: pointer !important;
	padding-left: 19px !important;
	border: 1px solid #d6deed !important;
	margin-left: 1em;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
	width: 300px;
}

.activeLink {
	font-weight: bold !important;
}

.activeLinkTop {
	font-weight: bold !important;
}

.activeLinkTopTd {
	background-color: #D62029;
}

.ui-picklist .ui-picklist-list {
	width: 460px;
}

.ui-state-disabled {
	opacity: 0.7 !important;
	filter: none !important;
}

.zertifikatEintrag {
	clear: both;
	float: left;
	margin-top: 0.5em;
}

.zertifikatEintrag .grafikZertifikat {
	margin: 0 1em;
	vertical-align: middle;
	width: 20px;
}

.zertifikatEintrag b {
	margin-right: 1em;
}

.zertifikatEintrag b:last-child {
	margin-right: 0;
}

.submitbuttonPrint {
	font-family: Arial !important;
	color: #054295 !important;
	font-size: 85% !important;
	background: no-repeat left !important;
	text-align: left !important;
	cursor: pointer !important;
	border: 1px solid #d6deed !important;
}

.jahrbuchSuchtReportTable {
	margin-top: 2em;
	text-align: right;
}

.jahrbuchSuchtReportTable .left {
	text-align: left;
}

.jahrbuchSuchtReportTable .ui-datatable-header {
	background-color: #c7dffe;
}

.jahrbuchSuchtReportTable_ebene_1 {
	background-color: #bbb;
}

.jahrbuchSuchtReportTable_ebene_2 {
	background-color: #ccc;
}

.jahrbuchSuchtReportTable_ebene_3 {
	background-color: #eee;
}

.jahrbuchSuchtReportTable_ebene_4 {
	background-color: #fff;
}

tr.ui-row-editing.ui-state-highlight {
	background: none;
	color: #333;
	text-shadow: none;
}

.ui-tooltip {
	font-size: 1.2em;
	line-height: 1.2em;
}

.ui-datatable tr.ui-state-disabled {
	opacity: 1 !important;
	color: silver;
}

.ui-datatable tr.ui-state-disabled td {
	border: 1px solid silver;
}

.wizard_navigation .ui-commandlink {
	color: #054295;
}

.wizard_navigation .ui-commandlink.active {
	font-weight: bold;
	color: #D62020;
}

.wizard_navigation .ui-commandlink.ui-state-disabled {
	color: #4f4f4f;
}

@media print {
	.ui-helper-hidden-accessible {
		display: none;
	}
	.standartInputFieldWidth {
		width: 98% !important;
	}
	.columnLable {
		width: 10em;
	}
	.columnOrt {
		width: 100% !important;
	}
	.columnLableOrt {

	}
	.doNotPrint {
		display: none;
	}
	.adresszusatzPrint {
		height: 10em !important;
		width: 55em !important;
	}
	.ui-datepicker-trigger {
		display: none;
	}
	.keypad-trigger {
		display: none;
	}
	.columnNowrap {
		white-space: nowrap;
	}
	.searchfield {
		border: 1px solid #9EB6D6;
		font-family: Arial;
		padding-left: 3px;
		font-size: 100%;
		height: 1.7em !important;
	}
	.ui-widget-content {
		font-size: 80%;
	}
	.ui-sortable-column {
		font-size: 60%;
	}
	body {
		overflow-x: visible;
		overflow-y: visible;
	}
}

.ui-datatable-odd {
	background: #ffffff;
}

.ui-datatable-even {
	background: #F2F5F9;
}

/** Styles für dynamische Reports*/
.dynReportFormular {
	display: inline-block;
}

.dynReportFormular>* {
	display: inline-block;
	margin-bottom: 1em;
	vertical-align: top;
}

.dynReportFormular label {
	width: 10em;
}

.dynReportFormular input, .dynReportFormular textarea {
	margin-bottom: 1em;
	margin-right: 1em;
	vertical-align: top;
	width: 25em;
}

.dynReportFormular .ui-datatable {
	margin-bottom: 0;
}

.dynReportFormular .hinweis {
	width: 15em;
}

.dynReportErgebnis th, .dynReportErgebnis td{
	white-space: nowrap;
}

.reportStatus {
	display: inline-block;
	margin: 1em 0 0 1em;
	vertical-align: top;
}

.reportStatus span {
	color: #9EB6D6;
	font-weight: bold;
}

.parameterEingabeTabelle {
	display: inline-block;
	width: auto !important;
}

.parameterEingabeTabelle th {
	display: none;
}

.parameterEingabeTabelle tbody {
	border: none !important;
}

.parameterEingabeTabelle tbody {
	padding: 4px 0;
}

table td.valueChanged {
	background-color: #ADCCDC;
}

/* Formattierung der Fehler */
.ui-inputfield.ui-state-error {
	background: #f2dedf !important;
	border: 1px solid red !important;
}

/* alle div mit der Klasse .ui-state-error*/
div.ui-state-error {
	background: #f2dedf !important;
	border: 1px solid red !important;
}

/* formatierung für label in div mit Klasse .ui-state-error */
div.ui-state-error label {
	background: #f2dedf !important;
	border: 1px solid red !important;
}

/*formatierung Grid Layout */
.ui-grid input, .ui-grid textarea, .ui-grid .ui-selectonemenu {
	padding: 0px;
	width: 100%;
}

.ui-grid-row div>.ui-outputlabel {
	float: right;
	white-space: nowrap;
}

.ui-grid+.ui-grid, .ui-grid-row+.ui-grid-row {
	margin-top: 0.5em;
}

.ui-grid-row>div {
	padding: 0 5px 0 0;
}

.ui-grid .ui-inputfield {
	padding: 1px 3px;
	box-shadow: none;
}

.ui-grid .ui-inputfield.ui-state-disabled {
	background-color: #f4f4f4;
}

.ui-grid .ui-calendar {
	white-space: nowrap;
}

.ui-grid .ui-calendar>.ui-inputfield {
	width: 5.5em;
}

.ui-grid .ui-inputfield.ui-state-focus {
	box-shadow: 0 0 5px #85b2cb;
}

.ui-grid-row .ui-selectonemenu .ui-selectonemenu-label {
	width: auto;
}

.ui-grid .ui-outputlabel .ui-outputlabel-rfi {
	margin: 0 0.4em 0 0.1em;
}

#timeslotSchedule input {
	width: 4em;
}