<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

<h:body>
	<ui:composition template="template/layout.xhtml">
		<ui:define name="content">


			<h2>#{lbl['heading.login']}</h2>
			<h:form id="login">
				<h:panelGrid columns="3">
					<h:outputLabel for="username" value="#{lbl['label.username']}" />
					<h:inputText id="username" value="#{login.username}"
						required="true">
						<f:ajax event="blur" render="m_username" />
					</h:inputText>
					<h:message id="m_username" for="username" />

					<h:outputLabel for="password" value="#{lbl['label.password']}" />
					<h:inputSecret id="password" value="#{login.password}"
						required="true">
						<f:ajax event="blur" render="m_password" />
					</h:inputSecret>
					<h:message id="m_password" for="password" />

					<h:panelGroup />
					<h:commandButton value="#{lbl['button.login']}" action="#{login.submit}">
						<f:ajax execute="@form" render="@form" />
					</h:commandButton>
					<h:messages globalOnly="true" layout="table" />
					<h:panelGroup styleClass="kleber">
						<h:outputLabel for="kleber"
							value="Diese URL wird nicht abgefragt. Tragen Sie hier bitte NICHTS ein" />
						<h:inputText id="kleber" value="#{login.kleber}" />
					</h:panelGroup>
				</h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
